[Desktop Entry]
Name=Post
GenericName=Email
Comment=Send and receive email
Icon=io.github.mbrennwa.Post
StartupWMClass=io.github.mbrennwa.Post
TryExec=post
Exec=post %u
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
